/**
 * @module lofty/kernel/gridOp.css
 * @author Edgar <mail@edgarhoo.net>
 * @version v0.1
 * @date 130329
 * */


.layout .grid-main,
.layout .grid-sub,
.layout .grid-extra{
    float: left;
}

.layout-col .grid{ width:990px; }
.layout-2col .grid{ width:490px; margin-right:10px; }
.layout-4col .grid{ width:240px; margin-right:10px; }

.layout-e5m0s6 .grid-extra{ width:200px; margin-right:10px; }
.layout-e5m0s6 .grid-main{ width:530px; margin-right:10px; }
.layout-e5m0s6 .grid-sub{ width:240px; }

.layout-flying-e5m0s6 .grid-main{ width:100%; min-height:1px; }
.layout-flying-e5m0s6 .main-warp{ margin:0 250px 0 210px; }
.layout-flying-e5m0s6 .grid-sub{ width:240px; margin-left:-240px; }
.layout-flying-e5m0s6 .grid-extra{ width:200px; margin-left:-100%; }

.layout-s8m0e8 .grid-sub{ width:320px; margin-right:10px; }
.layout-s8m0e8 .grid-main{ width:330px; margin-right:10px; }
.layout-s8m0e8 .grid-extra{ width:320px; }

.layout-s5m0 .grid-sub{ width:200px; margin-right:10px; }
.layout-s5m0 .grid-main{ width:780px; }

.layout-m0s6 .grid-main{ width:740px; margin-right:10px; }
.layout-m0s6 .grid-sub{ width:240px; }

.layout-s8m0 .grid-sub{ width:320px; margin-right:10px; }
.layout-s8m0 .grid-main{ width:660px; }

.layout-m0s8 .grid-main{ width:660px; margin-right:10px; }
.layout-m0s8 .grid-sub{ width:320px; }
