/**
 * for lofty.fangdeng.org
 * @author Edgar
 * @date 130409
 * */
 
@import url(http://static.edgarhoo.net/sys/reset/base.css);
@import url(http://static.edgarhoo.net/sys/highlight/pygments.css);

body{
    color: #333;
    line-height: 1.6;
}
header h1{
    font-size: 2.4em;
}
article h1{
    font-size: 2em;
}

article h2{
    font-size: 1.8em;
}

article h3{
    font-size: 1.4em;
}

article h4{
    font-size: 1.2em;
}
footer{
    padding-top: 48px;
}

p code,
li code{
    border: 1px solid #eaeaea;
    background: #f8f8f8;
    padding: 1px 5px;
    margin: 0 2px;
    border-radius: 3px;
    color: #d14;
}
p + pre,
h1 + pre,
h2 + pre,
h3 + pre,
h4 + pre,
h5 + pre{
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 6px 10px;
    border-radius: 3px;
    max-width: 1200px;
}
iframe{
    width: 100%;
}
.demo{
    border: 1px solid #ccc;
    margin: 24px 0;
    padding: 16px;
    max-width: 1200px;
}
