/**
 * for lofty.fangdeng.org
 * */
 
@import url(http://static.edgarhoo.net/sys/reset/base.css);
@import url(http://static.edgarhoo.net/sys/highlight/pygments.css);

a:hover,
a:active{
    color: #d64078;
}

body{
    color: #333;
    line-height: 1.6;
    padding-right: 0;
    padding-left: 0;
}

header h1{
    font-size: 2.4em;
}

article h1{
    font-size: 2em;
}

article h2{
    font-size: 1.8em;
}

article h3{
    font-size: 1.4em;
}

article h4{
    font-size: 1.2em;
}

footer{
    padding-top: 48px;
}

p code,
li code{
    border: 1px solid #eaeaea;
    background: #f8f8f8;
    padding: 1px 5px;
    margin: 0 2px;
    border-radius: 3px;
    color: #d14;
}

p + pre,
h1 + pre,
h2 + pre,
h3 + pre,
h4 + pre,
h5 + pre{
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 6px 10px;
    border-radius: 3px;
}

iframe{
    width: 100%;
}


#page{
    max-width: 1200px;
    margin: 0 20px 0 100px;
}

#page > article{
    max-width: 1200px;
}

.demo{
    border: 1px solid #ccc;
    margin: 24px 0;
    padding: 16px;
    max-width: 1200px;
}

/* menu */
#menu{
    text-align: center;
    background-color: whiteSmoke;
    position: fixed;
    top: 20px;
    left: -54px;
    width: 250px;
    padding-top: 2em;
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-57deg) translate(-104px, 22px);  /* Safari 3.1+, Chrome */
       -moz-transform: rotate(-57deg) translate(-104px, 22px);  /* Firefox 3.5-15 */
        -ms-transform: rotate(-57deg) translate(-104px, 22px);  /* IE9+ */
         -o-transform: rotate(-57deg) translate(-104px, 22px);  /* Opera 10.5-12.00 */
            transform: rotate(-57deg) translate(-104px, 22px);  /* Firefox 16+, Opera 12.50+ */
}

#menu a{
    display: block;
    padding: 4px 0;
    color: #8f8f8f;
    text-decoration: none;
}

#menu a:hover,
#menu a:active{
    background: #dcdcdc;
}

#menu a.home{
    text-indent: 40px;
}


.navbar{
    height: 58px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #f0f0f0;
}
.navbar nav{
    max-width: 1200px;
    margin: 0 20px 0 100px;
}
.navbar nav ul{
    margin: 0;
    padding: 0;
    float: right;
}
.navbar nav li{
    float: left;
    list-style: none;
}
.navbar nav a{
    letter-spacing: 1px;
    display: inline-block;
    height: 58px;
    line-height: 58px;
    padding: 0 8px;
    font-size: 17px;
}
.navbar nav a:hover,
.navbar nav a:active{
    background: #dcdcdc;
}

/* home */
.lofty-home header{
    height: 10em;
}
.lofty-home header h1{
    position: absolute;
    top: 0;
    z-index: 2;
    font-size: 4em;
    margin: 0.1em 0 0 1em;
}
.lofty-home article{
    position: absolute;
    left: 372px;
    max-width: 900px !important;
}
.lofty-home aside{
    width: 300px;
}
.lofty-home .index li{
    list-style: none;
    display: inline;
    float: left;
    margin-bottom: 8px;
    padding: 7px 0;
    border: 1px solid #dddfdf;
    border-radius: 3px;
    -webkit-transition:all 0.1s linear;
    transition:all 0.1s linear;
    margin-right: 12px;
}
.lofty-home .index li:hover{
    background: #dddfdf;
}
.lofty-home .index a{
    padding: 7px 12px;
}
.lofty-home article h2:first-child{
    margin-top: 0;
}
.lofty-home article + aside{
    margin-top: 2em;
}
.lofty-home aside h1{
    font-size: 1.2em;
}
