<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{page.title}} - Lofty Docs</title>
        <link href="/static/page/default.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="lofty-api-index">
            <header>
                <h1>{{page.title}}</h1>
            </header>
            <article>
                {{ content }}
            </article>
            {% include footer.html %}
        </div>
        <script src="/static/page/api-index.js"></script>
    </body>
</html>
